# Virtual environment
.venv/

# Python cache and compiled files
__pycache__/
*.py[cod]

# Environment files
.env

# Streamlit
.streamlit/

# VSCode editor config
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log