# Virtual environment
.venv/
# Python cache and compiled files
**pycache**/
*.py[cod]
# Environment files
.env
# Streamlit
.streamlit/secrets.toml
# VSCode editor config
.vscode/
# Jupyter
.ipynb_checkpoints/
# macOS
.DS_Store
# Logs
*.log