# Example file for Streamlit secrets with Databricks
# Rename this file to "secrets.toml" and fill in with your actual data

# Databricks credentials
[databricks]
server_hostname = "dbc-xxxxxxxx-xxxx.azuredatabricks.net"
access_token = "dapi_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
http_path="/sql/1.0/warehouses/xxxxxxxxxxxxxxxxxxx"
